<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <title>Image Scraper</title>
</head>
<body>
    <h1><a href="/"> Image Scraper</a></h1>
    <p><a href="https://github.com/Utsav-27", class ="link" , target = "_blank">Made by Utsav Panchal</a> </p>

    <h2>Download complete Check for folder named {{file_name}} in your <b>Downloads Directory</b></h2>
    
</body>
</html>