<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <title>Image Scraper</title>
</head>
<body>

    <h1><a href="/"> Image Scraper</a></h1>
    <p><a href="https://github.com/Utsav-27", class ="link" , target = "_blank">Made by Utsav Panchal</a> </p>
    <form action="/done",method="GET">
    <div class="login-form">
    <input type="text" class="login-field" name="search_term" placeholder = "Enter Search to download Images" required></br>
    <input type="number" class="login-field" name="max_images" placeholder = "Max Images to download" required></br>
 
    <button class="btn btn-primary btn-large btn-block" >Submit</button>
    </div>
    </form>

    
</body>
</html>